{% extends 'base.html' %}

{% block title %}
    Список пользователей
{% endblock %}

{% block content %}
    <div class="list-group">
        {% if users %}
            {% for user in users %}
                <a href="{% url 'user_posts' user.id %}"
                   class="list-group-item list-group-item-action">👤 {{ user.username }} ({{ user.posts_count }})</a>
            {% endfor %}
        {% else %}
            <div class="alert alert-secondary" role="alert">
                В нашем блоге еще нет пользователей
            </div>
        {% endif %}
    </div>
{% endblock %}