{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{% static "logo.png" %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a href="{% url 'all_users' %}">
            <img src="{% static "logo.png" %}" alt="Logo" width="40" height="40" class="d-inline-block align-text-top">
        </a>
        {% block header %}{% endblock %}
        <span>
            {% if user.is_authenticated %}
                <p>{{ user.username }}</p>
                <form id="logoutForm" action="{% url 'logout' %}?next={{ next }}">
                    {% csrf_token %}
                </form>
                <button type="button" class="btn btn-primary" onclick="location.href='{% url 'add_post' user.id %}';">
                    Добавить пост
                </button>
                <button type="submit" formmethod="post" class="btn btn-primary" form="logoutForm" name="logout_form">
                    Выйти
                </button>
            {% else %}
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal">
                    Вход
                </button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registerModal">
                    Регистрация
                </button>
            {% endif %}
        </span>
    </div>
</nav>

<p></p>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>


<!-- Modals -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="loginModalLabel">Вход</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="loginForm" action="{% url 'login' %}?next={{ next }}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Имя пользователя</label>
                        {{ login_form.username }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Пароль</label>
                        {{ login_form.password }}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="submit" formmethod="post" class="btn btn-primary" form="loginForm" name="login_form">
                    Войти
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="registerModalLabel">Вход</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="registerForm" action="{% url 'register' %}?next={{ next }}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Имя пользователя</label>
                        {{ register_form.username }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        {{ register_form.email }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Пароль</label>
                        {{ register_form.password1 }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Пароль ещё раз</label>
                        {{ register_form.password2 }}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="submit" formmethod="post" class="btn btn-primary" form="registerForm"
                        name="register_form">
                    Зарегистрироваться
                </button>
            </div>
        </div>
    </div>
</div>


</html>