{% extends 'base.html' %}

{% block title %}Ошибка{% endblock %}
{% block header %}Ошибка{% endblock %}
{% block content %}
    {% for error in errors %}
        <div class="alert alert-danger" role="alert">
            <ul class="errorlist">
                {% for error in errors %}
                    <li class="list-group-item list-group-item-danger">
                        {{ field.label }} - {{ error }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% endblock %}