{% extends 'base.html' %}

{% block title %}
    {{ post.title | truncatechars:20 }}
{% endblock %}
{% block header %}
    Пост «{{ post.title | truncatechars:20 }}» пользователя {{ post.user.username }}
{% endblock %}
{% block content %}
    <div class="card text-left">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'posts' post.user.id %}">Все посты</a>
                </li>
                <li class="nav-item">
                    <p class="nav-link active" aria-current="true">📄 {{ post.title | truncatechars:20 }}</p>
                </li>
                {% if user.is_authenticated and post.user.id == user.id %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add_post' user.id %}">Добавить пост</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="card-body">
            <p class="card-text">{{ post.body }}</p>
            {% if user.is_authenticated and user.id == post.user.id %}
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delModal">
                    Удалить
                </button>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block modals %}
    <div class="modal fade" id="delModal" tabindex="-1" aria-labelledby="delModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="delModalLabel">Вход</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Вы уверены, что хотите удалить пост?</p>
                    <form action="{% url 'post' post.id %}" id="delForm">
                        {% csrf_token %}

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" formmethod="post" class="btn btn-danger" form="delForm">
                        Удалить
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}