{% extends 'base.html' %}

{% block title %}
    {{ post.title | truncatechars:20 }}
{% endblock %}
{% block header %}
    Пост «{{ post.title | truncatechars:20 }}» пользователя {{ post.user.username }}
{% endblock %}
{% block content %}
    <div class="card text-left">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'posts' post.user.id %}">Все посты</a>
                </li>
                <li class="nav-item">
                    <p class="nav-link active" aria-current="true">{{ post.title | truncatechars:20 }}</p>
                </li>
                {% if user.is_authenticated and post.user.id == user.id %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add_post' user.id %}">Добавить пост</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="card-body">
            <p class="card-text">{{ post.body }}</p>
            {% if user.is_authenticated and user.id == post.user.id %}
                <form action="{% url 'post' post.id %}">
                    {% csrf_token %}
                    <button type="submit" formmethod="post" class="btn btn-primary">
                        Удалить
                    </button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}