{% extends 'base.html' %}

{% block title %}
    Посты пользователя {{ current_user.username }}
{% endblock %}
{% block header %}
    Посты пользователя {{ current_user.username }}
{% endblock %}
{% block content %}
    <div class="card text-left">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <p class="nav-link active" aria-current="true">Все посты</p>
                </li>
                {% if user.is_authenticated and current_user.id == user.id %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add_post' user.id %}">Добавить пост</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="card-body">
            {% if posts %}
                {% for post in posts %}
                    <div class="card">
                        <div class="card-header">
                            <a href="{% url 'post' post.id %}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"> - {{ post.title }}</a>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ post.body | truncatechars:200 }}</p>
                            <div class="text-end">
                                <a href="{% url 'post' post.id %}" class="btn btn-primary">Подробнее</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="alert alert-secondary" role="alert">
                    У пользователя еще нет постов
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}